//Menu d'aide
extends layout

block content
	h2="Aide"

	div.contenu
		a.btn(href="./aide/principes")="Règles du jeu"
		a.btn(href="./aide/disciplines")="Disciplines Kai"
		a.btn(href="./aide/equipement")="Équipement"
		a.btn(href="./aide/combatRules")="Règles de combat"