// Page définissant la section combat

- var endurancePerso = perso.endurance;
div.combat(id="combat", data-enduranceperso=endurancePerso, data-enduranceadversaire=enduranceAdversaire)
    h2 Combat
    p 
        | #{nomAdversaire}
        | : HABILETÉ 
        | #{habileteAdversaire}   
        | ENDURANCE 
        | #{enduranceAdversaire}
    div.region-bouton
        button.btn Prochain round
        // Le bouton "fuir" n'est pas fonctionnel pour le moment
        button.btn Fuir
    div.donnees-jeu
        div
            img.icone(src="/images/icons/shield.svg")
            | Ratio combat : 0
        div
            img.icone(src="/images/icons/dice.svg")
            | Numéro aléatoire : 4

    table.tableau-rounds
        tr 
            th(width="20%")
            th Votre personnage
            th Votre adversaire
        tr
            td
            td 
                div.barre-vie(id="barre-perso")
                    div(style="background:#2ecc71")
            td 
                div.barre-vie(id="barre-adversaire")
                    div(style="background:#f39c12")
        tr 
            th Round n°1
            td
                span.round-dommages (
                    img.icone(src="/images/icons/damage.svg")
                    | -1) 
                | #{endurancePerso-1}
            td 
                span.round-dommages (
                    img.icone(src="/images/icons/damage.svg")
                    | -3) 
                | #{enduranceAdversaire-3}
        tr 
            th Round n°2
            td 
                span.round-dommages (
                    img.icone(src="/images/icons/damage.svg")
                    | -2) 
                | #{endurancePerso-2}
            td 
                span.round-dommages (
                    img.icone(src="/images/icons/damage.svg")
                    | -4) 
                | #{enduranceAdversaire-4}

        