// Page définissant la section combat

- var endurancePerso = perso.endurance;
div.combat(id="combat", data-enduranceperso=endurancePerso, data-enduranceadversaire=enduranceAdversaire)
    h2 Combat
    p 
        | #{nomAdversaire}
        | : HABILETÉ 
        | #{habileteAdversaire}   
        | ENDURANCE 
        | #{enduranceAdversaire}
    div.region-bouton
        button.btn(id="combatbtn") Prochain round
        // Le bouton "fuir" n'est pas fonctionnel pour le moment
        button.btn(id="fuitebtn") Fuir
    table(id="tableau-rounds")
        tr 
            th(width="20%")
            th Votre personnage
            th Votre adversaire
        tr
            td
            td 
                div.barre-vie(id="barre-perso")
                    div(style="background:#2ecc71")
            td 
                div.barre-vie(id="barre-adversaire")
                    div(style="background:#f39c12")
        tr 
            th Round n°1
            td #{endurancePerso-2}
            td #{endurancePerso-6}
        tr 
            th Round n°2
            td #{endurancePerso-1}
            td #{endurancePerso-8}

        
        