extends layout

block head
    link(rel="stylesheet", href="/stylesheets/creationJoueur.css")

block content
    img(src="/images/loup_solitaire.png", class="logo")
    section(ng-controller="personnagesExistants")
        h1 Gérer les personnages
        fieldset
            legend Personnages existants
            div
                img.spinner(ng-show="!joueurs" src="images/spinner.gif")
                span(ng-show ="joueurs && !joueurs.length") Aucun personnage n'a été crée
                span(ng-show ="joueurs.length") Cliquez sur le nom d'un personnage pour commencer la partie avec.
                ul#listeJoueurs
                    li(ng-repeat="j in joueurs")
                        a(ng-click="utiliserJoueur(j._id)") {{ j.nom }}
                        img(ng-click="supprimerJoueur(j._id)", src="images/supprimer.png") 

    section
        h1 Création du personnage

        div.erreurs
            ul
                each e in erreursMsg
                    li=e

        form(action="/jeu" method="post" ng-controller="nouveauPerso")
            fieldset
                legend Nom du personnage
                div
                    label
                        | Nom : 
                        input(type="textbox" name="nomJoueur"  ng-model="formData.nomJoueur")
            fieldset
                legend Disciplines
                p Choisir 5 disciplines:
                div#gauche
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.CAMOUFLAGE ng-model="formData.disciplines['CAMOUFLAGE']")
                        | #{c.discipline.CAMOUFLAGE}
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.CHASSE ng-model="formData.disciplines['CHASSE']")
                        | #{c.discipline.CHASSE}
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.SIXIEME_SENS ng-model="formData.disciplines['SIXIEME_SENS']")
                        | #{c.discipline.SIXIEME_SENS}
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.ORIENTATION ng-model="formData.disciplines['ORIENTATION']")
                        | #{c.discipline.ORIENTATION}
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.GUERISON ng-model="formData.disciplines['GUERISON']")
                        | #{c.discipline.GUERISON}
                div#droite
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.MAITRISE_ARMES ng-model="formData.disciplines['MAITRISE_ARMES']")
                        | #{c.discipline.MAITRISE_ARMES}
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.BOUCLIER_PSYCHIQUE ng-model="formData.disciplines['BOUCLIER_PSYCHIQUE']")
                        | #{c.discipline.BOUCLIER_PSYCHIQUE}
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.PUISSANCE_PSYCHIQUE ng-model="formData.disciplines['PUISSANCE_PSYCHIQUE']")
                        | #{c.discipline.PUISSANCE_PSYCHIQUE}
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.COMMUNICATION_ANIMALE ng-model="formData.disciplines['COMMUNICATION_ANIMALE']")
                        | #{c.discipline.COMMUNICATION_ANIMALE}
                    label
                        input(type="checkbox" name="discipline" value=c.discipline.MAITRISE_PSYCHIQUE_MATIERE ng-model="formData.disciplines['MAITRISE_PSYCHIQUE_MATIERE']")
                        | #{c.discipline.MAITRISE_PSYCHIQUE_MATIERE}
            fieldset
                legend Équipement
                p Choisir 2 items:
                div
                    label
                        input(type="checkbox" name="arme" value=c.arme.EPEE ng-model="formData.armes['EPEE']")
                        | #{c.arme.EPEE} (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.SABRE ng-model="formData.armes['SABRE']")
                        | #{c.arme.SABRE} (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.LANCE ng-model="formData.armes['LANCE']")
                        | #{c.arme.LANCE} (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.MASSE_ARME ng-model="formData.armes['MASSE_ARME']")
                        | #{c.arme.MASSE_ARME} (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.MARTEAU_GUERRE ng-model="formData.armes['MARTEAU_GUERRE']")
                        | #{c.arme.MARTEAU_GUERRE} (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.HACHE ng-model="formData.armes['HACHE']")
                        | #{c.arme.HACHE} (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.BATON ng-model="formData.armes['BATON']")
                        | #{c.arme.BATON} (Arme)
                    label
                        input(type="checkbox" name="arme" value=c.arme.GLAIVE ng-model="formData.armes['GLAIVE']")
                        | #{c.arme.GLAIVE} (Arme)
                    label
                        input(type="checkbox" name="objetSpecial" value=c.objetSpecial.GILET_CUIR_MARTELE ng-model="formData.objetsSpeciaux['GILET_CUIR_MARTELE']")
                        | #{c.objetSpecial.GILET_CUIR_MARTELE} (Objet Spécial)
                    label
                        input(type="checkbox" name="objet" value=c.objet.POTION_LAMPSUR ng-model="formData.objets['POTION_LAMPSUR']")
                        | #{c.objet.POTION_LAMPSUR} (Objet dans le sac à dos)
                    label
                        input(type="checkbox" name="objet" value=c.objet.RATIONS_SPECIALES ng-model="formData.objets['RATIONS_SPECIALES']")
                        | #{c.objet.RATIONS_SPECIALES} (Objet dans le sac à dos)
            
            div.erreurs
                p(ng-show="afficherErreurNom()") Vous devez entrez un nom.
                p(ng-show="afficherErreurDisciplines()") Vous devez choisir EXACTEMENT 5 disciplines Kai.
                p(ng-show="afficherErreurEquipement()") Vous devez choisir EXACTEMENT 2 objets.
                p(ng-show="afficherErreurMaitriseArme()") Vous ne pouvez pas choisir une arme sans choisir la maitrise des armes.
            
            input.button(type="submit" value="Commencer la partie!" ng-disabled="bloquerFormulaire()")
