// Page défissant les détails qui seront présents sur chaque page de jeu

div#stats-jeu.details-jeu
	div.detail-habilete
		img.icone(src="/images/icons/supersonic-arrow.svg")
		| Habileté
		br
		span #{perso.habilete}
	div.detail-endurance
		img.icone(src="/images/icons/glass-heart.svg")
		| Endurance
		br
		span #{perso.endurance}
	div.detail-pieces
		img.icone(src="/images/icons/cash.svg")
		| Pièces d'or
		br
		span #{perso.pieces}

div.details-wrapper
	div.details-col
		// invisible par défaut mais s'affiche lorsque qu'on clique sur le titre	
		label.btn-details-label(for="btnDisciplines") Disciplines Kaï
		input.btn-details#btnDisciplines(type="checkbox") 
		div#disciplines.details-jeu
			ul
				if perso.disciplines
					each val in perso.disciplines
						if val == "La Maîtrise Des Armes"
							li= val + " : " + perso.maitriseArme
						else 
							li= val
				else
					p Vous n'avez aucune discipline
			
	div.details-col					
		// Résumé des combats précédents qui sera chargé dynamiquement en fonction des combats
		label.btn-details-label(for="btnCombats") Résumé des Combats
		input.btn-details#btnCombats(type="checkbox") 
		// invisible par défaut mais s'affiche lorsque qu'on clique sur le titre	
		div#combats.details-jeu
			table
					tr
						th Combat n°
						th Adversaire
						th Nombre de rounds
						th Résultat
					tr
						td 1
						td Vonotar
						td 3
						td Victoire
					tr
						td 2
						td Baknar
						td 3
						td Victoire
					tr
						td 3
						td Skolin
						td 4
						td Victoire

div.details-wrapper
	div.details-col
		// Sac a dos
		a.label.btn-details-label(href="#sacADos") Sac à dos
	// invisible par défaut mais s'affiche lorsque qu'on clique sur le titre
	// Popup sac a dos
	div#sacADos.items.overlay
		// Ferme le popup si on clique a l'exterieur
		a(href="#")
			div.cancel
		div.popup
			h2 
				| Votre sac à dos
			div.img-droite
				img(src="/images/bag.png", style="height:180px")
			if perso.sacADos.length
				ul
					each val in perso.sacADos
						li= val
			else
				p 
					| Votre sac à dos est vide

	div.details-col
		// Objets speciaux
		a.btn-details-label(href="#objSpeciaux") Objets spéciaux
	// invisible par défaut mais s'affiche lorsque qu'on clique sur le titre
	// Popup obbjets speciaux
	div#objSpeciaux.items.overlay
		// Ferme le popup si on clique a l'exterieur
		a(href="#")
			div.cancel
		div.popup
			h2
				| Vos objets spéciaux
			div.img-droite
				img(src="/images/weapon.png", style="height:180px")
			if perso.objSpeciaux.length		
				ul
					each val in perso.objSpeciaux
						li= val
			else
				p 
					| Vous n'avez pas d'objets spéciaux.
hr.stylisee