// Page défissant les détails qui seront présents sur chaque page de jeu

// Détails du personnage, invisible par défaut mais s'affiche lorsque qu'on clique sur le titre	
div#detailsJeu.detailsJeu
	div.detailHabilete
		img.icon(src="/images/icons/supersonic-arrow.svg")
		| Habileté
		br
		span #{perso.habilete}
	div.detailEndurance
		img.icon(src="/images/icons/glass-heart.svg")
		| Endurance
		br
		span #{perso.endurance}
	div.detailPieces
		img.icon(src="/images/icons/cash.svg")
		| Pièces d'or
		br
		span #{perso.pieces}

div.detailsWrapper
	div.detailsCol
		label.btnDetailsLabel(for="btnDisciplines") Disciplines Kaï
		input.btnDetails#btnDisciplines(type="checkbox") 
		div#disciplines.detailsJeu
			ul
				if perso.disciplines
					each val in perso.disciplines
						if val == "La Maîtrise Des Armes"
							li= val + " : " + perso.maitriseArme
						else 
							li= val
				else
					p Vous n'avez aucune discipline
			
	div.detailsCol					
		// Résumé des combats précédents qui sera chargé dynamiquement en fonction des combats
		label.btnDetailsLabel(for="btnCombats") Résumé des Combats
		input.btnDetails#btnCombats(type="checkbox") 
		// invisible par défaut mais s'affiche lorsque qu'on clique sur le titre	
		div#combats.detailsJeu
			table
					tr
						th Combat n°
						th Adversaire
						th Nombre de rounds
						th Résultat
					tr
						td 1
						td Vonotar
						td 3
						td Victoire
					tr
						td 2
						td Baknar
						td 3
						td Victoire
					tr
						td 3
						td Skolin
						td 4
						td Victoire
hr.styledRuler