// Page défissant les détails qui seront présents sur chaque page de jeu

div#stats-jeu.details-jeu
	div.detail-habilete
		img.icone(src="/images/icons/supersonic-arrow.svg")
		| Habileté
		br
		span #{perso.habilete}
	div.detail-endurance
		img.icone(src="/images/icons/glass-heart.svg")
		| Endurance
		br
		span #{perso.endurance}
	div.detail-pieces
		img.icone(src="/images/icons/cash.svg")
		| Pièces d'or
		br
		span #{perso.pieces}

div.details-wrapper
	div.details-col
		// invisible par défaut mais s'affiche lorsque qu'on clique sur le titre	
		label.btn-details-label(for="btnDisciplines") Disciplines Kaï
		input.btn-details#btnDisciplines(type="checkbox") 
		div#disciplines.details-jeu
			ul
				if perso.disciplines
					each val in perso.disciplines
						if val == "La Maîtrise Des Armes"
							li= val + " : " + perso.maitriseArme
						else 
							li= val
				else
					p Vous n'avez aucune discipline
			
	div.details-col					
		// Résumé des combats précédents qui sera chargé dynamiquement en fonction des combats
		label.btn-details-label(for="btnCombats") Résumé des Combats
		input.btn-details#btnCombats(type="checkbox") 
		// invisible par défaut mais s'affiche lorsque qu'on clique sur le titre	
		div#combats.details-jeu
			table
					tr
						th Combat n°
						th Adversaire
						th Nombre de rounds
						th Résultat
					tr
						td 1
						td Vonotar
						td 3
						td Victoire
					tr
						td 2
						td Baknar
						td 3
						td Victoire
					tr
						td 3
						td Skolin
						td 4
						td Victoire
hr.stylisee