h2= "Votre personnage a été crée"

h3= "Propriété du personnage :"

div.proprietes
	p 
		span Habileté : 
		span= character.habilete
	p 
		span Endurance : 
		span= character.endurance
	p 
		span Pièces d'or : 
		span= character.pieces
	p 
		span Votre première arme : 
		span= character.arme1
	p 
		span Votre seconde arme : 
		span= character.arme2
	p 
		span Vos disciplines : 
		span= character.disciplines