// Première page de jeu qui sert de résumé pour le joueur. Il est possible de commencer une partie,
// reprendre celle en cours si il en existe une ou recréer un personnage

extends layout

block content

	h2 Page de jeu : Propriétés de votre personnage
	
	div.proprietes
		hr
		h3 Caractéristiques
		p 
			| Habileté : #{perso.habilete}
		p 
			| Endurance : #{perso.endurance}
		p 
			| Pièces d'or : #{perso.pieces}
		hr
		
		div.img-droite
			img(src="/images/bag.png", style="height:210px")
			
		h3 Equipement
		if perso.arme1 && perso.arme2
			p
				| Votre première arme : 
				| #{armes[perso.arme1]}
			p 
				| Votre seconde arme : 
				| #{armes[perso.arme2]}
		else if perso.arme1
			p
				| Votre arme : #{armes[perso.arme1]}
		else
			p
				| Vous n'avez aucune arme
		if perso.sacADos.length		
			p 
				| Votre sac à dos contient :
			ul
				each val in perso.sacADos
					li #{objSacADos[val]}
		else
			p 
			| Votre sac à dos est vide
		if perso.objSpeciaux.length		
			p 
				| Vos objets spéciaux :
			ul
				each val in perso.objSpeciaux
					li #{objSpeciaux[val]}
		else
			p 
				| Vous n'avez pas d'objets spéciaux.

		hr
		h3 Disciplines Kaï
		ul
			if perso.disciplines
				each val in perso.disciplines
					if val == 'MAITRISE_ARMES'
						li #{disciplines[val]} : #{armes[perso.maitriseArme]}
					else 
						li #{disciplines[val]}
			else
				p Vous n'avez aucune discipline
		hr
	
	div.combats-precedents
		h3 Combats
		table
			tr
				th Combat n°
				th Adversaire
				th Nombre de rounds
				th Résultat
			tr
				td 1
				td Vonotar
				td 3
				td Victoire
			tr
				td 2
				td Baknar
				td 3
				td Victoire
			tr
				td 3
				td Skolin
				td 4
				td Victoire
		hr
	
	div.region-bouton
		a.btn(href='/reset') Réinitialiser la partie
		if pageActuelle
			a.btn(href='/page/'+ pageActuelle) Reprendre la partie
		else
			a.btn(href='/page/1') Commencer la partie
				
			
		