extends layout

block content
	h2 Création d'un personnage
	if erreur
		div.erreur
			p Vous devez choisir 2 équipements et 5 disciplines exactement
	h3 Choix des équipements
	form(action='/jeu',method='post', id='formPerso')
		div.form-equipement
			div.form-arme1
				p Choisissez un 1er équipement :
				select(name='equipement1')
					option(value='') ---
					optgroup(label='Arme')
						option(value='#{armes.EPEE}') #{armes.EPEE} 
						option(value='#{armes.SABRE}') #{armes.SABRE} 
						option(value='#{armes.LANCE}') #{armes.LANCE} 
						option(value='#{armes.MASSE}') #{armes.MASSE} 
						option(value='#{armes.MARTEAU}') #{armes.MARTEAU} 
						option(value='#{armes.HACHE}') #{armes.HACHE} 
						option(value='#{armes.BATON}') #{armes.BATON} 
						option(value='#{armes.GLAIVE}') #{armes.GLAIVE} 
					optgroup(label='Objet Special')
						option(value='#{objSpeciaux.GILET}') #{objSpeciaux.GILET}
					optgroup(label='Objet Sac A Dos')
						option(value='#{objSacADos.POTION}') #{objSacADos.POTION}
						option(value='#{objSacADos.RATIONS}') #{objSacADos.RATIONS}
		
		
			div.form-arme2
				p Choisissez un 2nd équipement :
				select(name='equipement2')
					option(value='') ---
					optgroup(label='Arme')
						option(value='arme|#{armes.EPEE}') #{armes.EPEE} 
						option(value='arme|#{armes.SABRE}') #{armes.SABRE} 
						option(value='arme|#{armes.LANCE}') #{armes.LANCE} 
						option(value='arme|#{armes.MASSE}') #{armes.MASSE} 
						option(value='arme|#{armes.MARTEAU}') #{armes.MARTEAU} 
						option(value='arme|#{armes.HACHE}') #{armes.HACHE} 
						option(value='arme|#{armes.BATON}') #{armes.BATON} 
						option(value='arme|#{armes.GLAIVE}') #{armes.GLAIVE} 
					optgroup(label='Objet Special')
						option(value='objetSpecial|#{objSpeciaux.GILET}') #{objSpeciaux.GILET}
					optgroup(label='Objet Sac A Dos')
						option(value='objetSacADos|#{objSacADos.POTION}') #{objSacADos.POTION}
						option(value='objetSacADos|#{objSacADos.RATIONS}') #{objSacADos.RATIONS} 
		
		div.form-discipline
			hr
			h3= "Choix des disciplines"
			div.liste-disciplines
				input(type='checkbox',value='#{disciplines.CAMOUFLAGE}', name='discipline')
				|  #{disciplines.CAMOUFLAGE} 
				br
				input(type='checkbox',value='#{disciplines.CHASSE}', name='discipline')
				|  #{disciplines.CHASSE} 
				br
				input(type='checkbox',value='#{disciplines.SENS}', name='discipline')
				|  #{disciplines.SENS}
				br
				input(type='checkbox',value='#{disciplines.ORIENTATION}', name='discipline')
				|  #{disciplines.ORIENTATION}
				br
				input(type='checkbox',value='#{disciplines.GUERISON}', name='discipline')
				|  #{disciplines.GUERISON}
				br
				input(type='checkbox',value=' #{disciplines.BOUCLIER}', name='discipline')
				|  #{disciplines.BOUCLIER} 
				br
				input(type='checkbox',value='#{disciplines.PUISSANCE}', name='discipline')
				|  #{disciplines.PUISSANCE} 
				br
				input(type='checkbox',value='#{disciplines.COMMUNICATION}', name='discipline')
				|  #{disciplines.COMMUNICATION}
				br
				input(type='checkbox',value='#{disciplines.MAITRISE_MATIERE}', name='discipline')
				|  #{disciplines.MAITRISE_MATIERE} 
				br
				input(type='checkbox',value='#{disciplines.MAITRISE_ARMES}', name='discipline' id='maitrisearmes')
				|  #{disciplines.MAITRISE_ARMES} 
		// Champs cachés utilisant les valeurs aléatoires générées à partir d'index.js		
		input(type='hidden',value=perso.habilete, name='habilete')
		input(type='hidden',value=perso.pieces, name='pieces')
		input(type='hidden',value=perso.endurance, name='endurance')
		br
		div.form-submit
			hr
			input.btn(type='submit', value='Valider')
