extends layout

block content
	h2 Création d'un personnage
	if erreur
		div.erreur
			p Vous devez choisir 2 équipements et 5 disciplines exactement
	h3 Choix des équipements
	form(action='/jeu',method='post', id='formPerso')
		div.form-equipement
			div.form-arme1
				p Choisissez un 1er équipement :
				select(name='equipement1')
					option(value='') ---
					optgroup(label='Arme')
						option(value='EPEE') #{armes.EPEE} 
						option(value='SABRE') #{armes.SABRE} 
						option(value='LANCE') #{armes.LANCE} 
						option(value='MASSE') #{armes.MASSE} 
						option(value='MARTEAU') #{armes.MARTEAU} 
						option(value='HACHE') #{armes.HACHE} 
						option(value='BATON') #{armes.BATON} 
						option(value='GLAIVE') #{armes.GLAIVE} 
					optgroup(label='Objet Special')
						option(value='GILET') #{objSpeciaux.GILET}
					optgroup(label='Objet Sac A Dos')
						option(value='POTION') #{objSacADos.POTION}
						option(value='RATIONS') #{objSacADos.RATIONS}
		
		
			div.form-arme2
				p Choisissez un 2nd équipement :
				select(name='equipement2')
					option(value='') ---
					optgroup(label='Arme')
						option(value='EPEE') #{armes.EPEE} 
						option(value='SABRE') #{armes.SABRE} 
						option(value='LANCE') #{armes.LANCE} 
						option(value='MASSE') #{armes.MASSE} 
						option(value='MARTEAU') #{armes.MARTEAU} 
						option(value='HACHE') #{armes.HACHE} 
						option(value='BATON') #{armes.BATON} 
						option(value='GLAIVE') #{armes.GLAIVE} 
					optgroup(label='Objet Special')
						option(value='GILET') #{objSpeciaux.GILET}
					optgroup(label='Objet Sac A Dos')
						option(value='POTION') #{objSacADos.POTION}
						option(value='RATIONS') #{objSacADos.RATIONS}
		
		div.form-discipline
			hr
			h3= "Choix des disciplines"
			div.liste-disciplines
				input(type='checkbox',value='CAMOUFLAGE', name='discipline')
				|  #{disciplines.CAMOUFLAGE} 
				br
				input(type='checkbox',value='CHASSE', name='discipline')
				|  #{disciplines.CHASSE} 
				br
				input(type='checkbox',value='SENS', name='discipline')
				|  #{disciplines.SENS}
				br
				input(type='checkbox',value='ORIENTATION', name='discipline')
				|  #{disciplines.ORIENTATION}
				br
				input(type='checkbox',value='GUERISON', name='discipline')
				|  #{disciplines.GUERISON}
				br
				input(type='checkbox',value='BOUCLIER', name='discipline')
				|  #{disciplines.BOUCLIER} 
				br
				input(type='checkbox',value='PUISSANCE', name='discipline')
				|  #{disciplines.PUISSANCE} 
				br
				input(type='checkbox',value='COMMUNICATION', name='discipline')
				|  #{disciplines.COMMUNICATION}
				br
				input(type='checkbox',value='MAITRISE_MATIERE', name='discipline')
				|  #{disciplines.MAITRISE_MATIERE} 
				br
				input(type='checkbox',value='MAITRISE_ARMES', name='discipline' id='maitrisearmes')
				|  #{disciplines.MAITRISE_ARMES} 
		// Champs cachés utilisant les valeurs aléatoires générées à partir d'index.js		
		input(type='hidden',value=perso.habilete, name='habilete')
		input(type='hidden',value=perso.pieces, name='pieces')
		input(type='hidden',value=perso.endurance, name='endurance')
		br
		div.form-submit
			hr
			input.btn(type='submit', value='Valider')
