extends layout

block content
	h2= "Création d'un personnage"
	h3= "Choix des équipements"
	form(action='/jeu',method='post', id='formPerso')
		div.form-equipement
			div.form-arme1
				p Choisissez un 1er équipement :
				select(name='equipement1')
					option(value='') ---
					optgroup(label='Arme')
						option(value='arme|Epée') Epée 
						option(value='arme|Sabre') Sabre 
						option(value='arme|Lance') Lance 
						option(value='arme|Masse d\'armes') Masse d'armes 
						option(value='arme|Marteau de guerre ') Marteau de guerre 
						option(value='arme|Hâche') Hâche 
						option(value='arme|Bâton') Bâton 
						option(value='arme|Glaive') Glaive 
					optgroup(label='Objet Special')
						option(value='objetSpecial|Gilet De Cuir Matelassé') Gilet De Cuir Matelassé
					optgroup(label='Objet Sac A Dos')
						option(value='objetSacADos|Potion de Lampsur') Potion de Lampsur 
						option(value='objetSacADos|Rations spéciales') Rations spéciales
		
		
			div.form-arme2
				p Choisissez un 2nd équipement :
				select(name='equipement2')
					option(value='') ---
					optgroup(label='Arme')
						option(value='arme|Epée') Epée 
						option(value='arme|Sabre') Sabre 
						option(value='arme|Lance') Lance 
						option(value='arme|Masse d\'armes') Masse d'armes 
						option(value='arme|Marteau de guerre ') Marteau de guerre 
						option(value='arme|Hâche') Hâche 
						option(value='arme|Bâton') Bâton 
						option(value='arme|Glaive') Glaive 
					optgroup(label='Objet Special')
						option(value='objetSpecial|Gilet De Cuir Matelassé') Gilet De Cuir Matelassé
					optgroup(label='Objet Sac A Dos')
						option(value='objetSacADos|Potion de Lampsur') Potion de Lampsur 
						option(value='objetSacADos|Rations spéciales') Rations spéciales 
		
		div.form-discipline
			hr
			h3= "Choix des disciplines"
			div.liste-disciplines
				input(type='checkbox',value='Le Camouflage', name='discipline')
				|  Le Camouflage 
				br
				input(type='checkbox',value='La Chasse', name='discipline')
				|  La Chasse 
				br
				input(type='checkbox',value='Le 6ème Sens', name='discipline')
				|  Le 6ème Sens 
				br
				input(type='checkbox',value='L\'Orientation', name='discipline')
				|  L'Orientation 
				br
				input(type='checkbox',value='La Guérison', name='discipline')
				|  La Guérison 
				br
				input(type='checkbox',value='Le Bouclier Psychique', name='discipline')
				|  Le Bouclier Psychique 
				br
				input(type='checkbox',value='La Puissance Psychique', name='discipline')
				|  La Puissance Psychique 
				br
				input(type='checkbox',value='La Communication Animale ', name='discipline')
				|  La Communication Animale 
				br
				input(type='checkbox',value='La Maîtrise Psychique De La Matière', name='discipline')
				|  La Maîtrise Psychique De La Matière 
				br
				input(type='checkbox',value='La Maîtrise Des Armes', name='discipline' id='maitrisearmes')
				|  La Maîtrise Des Armes 
		// Champs cachés utilisant les valeurs aléatoires générées à partir d'index.js		
		input(type='hidden',value=perso.habilete, name='habilete')
		input(type='hidden',value=perso.pieces, name='pieces')
		input(type='hidden',value=perso.endurance, name='endurance')
		br
		div.form-submit
			hr
			input.btn(type='submit', value='Valider')
