h2= "Équipement"

div.contenu
	p Avant que vous ne quittiez le port d'Anskaven, situé sur la côte nord du Sommerlund, on vous escorte jusqu'à l'Hôtel de Villepour vous y remettre un équipement composé de bottes spécialement adaptées au climat polaire, d'une tunique, d'une cape doublée de fourrure et de moufles. On vous donne également une carte du pays de Kalte (voir en tête de ce volume) ainsi qu'une bourse contenant des Pièces d'Or. Le nombre de pièces d'or que comprend cette bourse est déterminé aléatoirement au début de la partie. Avant de partir, on vous offre un choix d'objets. Vous ne pouvez en prendre que deux dans la liste ci-dessous. Ils viendront s'ajouter à ceux que vous aviez éventuellement en votre possession à l'issue d'une précédente aventure, mais souvenez- vous que vous n'avez toujours droit qu'à deux armes. Voici la liste :
	
	ul
		li	Épée : (Arme).
		li	Sabre : (Arme).
		li	Lance : (Arme).
		li	Masse d'armes : (Arme).
		li	Marteau de guerre : (Arme).
		li	Hâche : (Arme).
		li	Bâton : (Arme).
		li	Glaive : (Arme).
		li	Gilet de cuir matelassé : (Objet spécial). Ce gilet donne deux points d'ENDURANCE supplémentaires.
		li	Potion de Lampsur : (Objet contenu dans le sac à dos). Cette potion vous rendra 4 points d'ENDURANCE lorsque vous la boirez à la fin d'un combat. Le flacon que l'on vous donnen'en contient qu'une seule dose.
		li	Rations spéciales : (Objet contenu dans le sac à dos). Elles comptent pour un repas.

	h3= "Combien d'objets pouvez-vous transporter ?"
		h4= "Armes" 
		div
			p Vous ne pouvez pas emporter plus de deux armes.
		h4= "Objets contenus dans votre Sac à Dos"
		div
			p Ils doivent obligatoirement être rangés dans le Sac à Dos, mais la place y est comptée et vous ne pouvez y transporter que huit objets (Repas inclus)
		h4= "Objets Spéciaux"
		div
			p Les Objets Spéciaux ne sont pas rangés dans votre Sac à Dos. Lorsque vous aurez la possibilité d'acquérir l'un de ces Objets Spéciaux, il vous sera indiqué de quelle manière il convient de le transporter.
		h4= "Pièces d'Or"
		div
			p Elles sont toujours rangées dans la bourse attachée à votre ceinture. Cette bourse ne peut pas contenir plus de cinquante Pièces d'Or en tout.
		h4= "Nourriture"
		div
			p Vous transportez votre nourriture dans votre Sac à Dos et chaque Repas compte pour un objet. Tous les objets qui peuvent vous être utiles et que vous aurez la possibilité d'acquérir au cours de votre aventure sont indiqués avec leur initiale en lettres majuscules. Ces acquisitions seront rangées dans votre Sac à Dos sauf s'il vous est spécifié qu'il s'agit d'un Objet Spécial.

	h3= "Comment utiliser votre équipement ?"
		h4= "Armes"
		div
			p Les armes vous aident à combattre vos ennemis. Si vous avez choisi la Discipline de la Maîtrise des Armes et que vous disposiez de l'arme qui vous a été attribuée aléatoirement, vous aurez le droit d'ajouter 2 points à votre total d'HABILETÉ. Si vous êtes obligé de combattre sans arme, vous devrez déduire 4 points de votre total d'HABILETÉ et vous battre à mains nues. Si vous découvrez une arme au cours de votre aventure, vous pouvez la garder et l'utiliser, mais rappelez-vous que vous n'avez pas le droit de posséder plus de deux armes à la fois.
		h4= "Objets contenus dans votre Sac à Dos"
		div
			p Au cours de votre quête, vous découvrirez divers objets qui pourraient se révéler utiles et que vous souhaiterez peut-être conserver (rappelez-vous que vous ne pouvez jamais transporter plus de huit objets dans votre Sac à Dos). Vous avez le droit àtout moment d'échanger l'un de ces objets ou tout simplement de vous en débarrasser, mais il vous est interdit de le faire lorsque vous êtes engagé dans un combat.
		h4= "Objets Spéciaux" 
		div
			p Chacun de ces objets possède des propriétés bien particulières. Parfois, ces propriétés vous seront décrites au moment même de la découverte de l'objet; d'autres fois, il vous faudra attendre qu'elles se révèlent au cours de votre aventure.
		h4= "Pièces d'Or"
		div
			p La monnaie en cours dans le royaume du Sommerlund et dans l'empire de Vassagonie est la Couronne qui se présente sous la forme d'une petite Pièce d'Or. Chaque fois que vous tuerez un ennemi et que vous déciderez de fouiller son cadavre, vous aurez le droit de conserver dans votre bourse toutes les Pièces d'Or que vous pourriez trouver sur lui.
		h4= "Nourriture"
		div
			p Tout au long de votre quête, vous aurez besoin de vous nourrir à intervalles réguliers. S'il ne vous reste plus de vivres lorsque vous serez dans l'obligation de prendre un Repas, vous perdrez 3 points d'ENDURANCE. Mais si vous maîtrisez la Discipline Kaïde la Chasse, un Repas ne sera pas utilisé chaque fois que vous devrez manger. Rappelez-vous cependant que si vous vous trouvez dans une région aride ou désertique, il ne vous sera pas possible de faire usage de cette Discipline, faute de gibier.)
		h4= "Potion de Laumspur"
		div
			p C'est une Potion de Guérison qui vous permet de reprendre 4 points d'ENDURANCE si vous en buvez à l'issue d'un combat. Vous ne disposez que d'une seule dose. Si, au cours de votre quête, vous veniez à découvrir d'autres potions, leurs effets vous seraient indiqués en temps utile. Toutes les potions font partie des Objets contenus dans votre Sac à Dos.